html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #2b2b2b;
}

p {
    margin: 0;
}

iframe {
    height: 1150px;
    width: 60%;
}

/* 
   ================
   |              |
   |    HEADER    |
   |              |     
   ================
*/
header {
    height: 300px;
    width: 100%;
    background-image: radial-gradient(ellipse, #feb47b, #ff7e5f);
}

.info-container {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.self-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.about-me {
    font-size: 24px;
    margin-left: 50px;
}

.about-me > :first-child {
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 
   ========================
   |                     |
   |    Website Links    |
   |                     |
   ========================
*/
.portfolio-bar {
    display: grid;
    height: 120px;
    grid-template-columns: 33% auto 33%;
    text-align: center;
    column-gap: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.portfolio-item {
    border: 5px solid black;
    align-content: center;
}

.portfolio-item:hover {
    background-color: black;
    transition: background-color 0.15s, color 0.15s;
}

.logos {
    height: 40px;
    padding: 20px;
}

/* 
   =======================================
   |                                     |
   |    Project/Resume Navigation Bar    |
   |                                     |
   =======================================
*/
.navbar {
    display: flex;
    margin-bottom: 50px;
    text-align: center;
    background-color: #3b3b3b;
    font-size: 24px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: solid rgb(110, 110, 110);
    border-width: 2px 0 2px 0;
}

.sidebar-button {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    width: 50%;
}

.sidebar-button:hover {
    background-color: #feb47b;;
    color: black;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

.content > div {
    display: none;
}

.content > .active {
    display: block;
}

#resume {
    text-align: center;
}

/* 
   =========================
   |                       |
   |    Project Entries    |
   |                       |
   =========================
*/
.js-project-entry {
    display: flex;
    height: 150px;
    background-color: #3b3b3b;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
    border: solid 1px black;
    color: white;
    transition: box-shadow 0.5s;
}

.js-project-entry:hover {
    box-shadow: -15px 15px 50px rgb(24, 24, 24);
    transition: box-shadow 0.5s;
}

.js-project-entry > article {
    padding-left: 24px;
}

.js-entry-link {
    height: 100%;
    width: 36px;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
}

.js-link-git {
    background: black no-repeat center url("images/logos/github-mark-white.png");
    background-size: 36px 36px;
}

.js-link-itch {
    background: #fa5c5c no-repeat center url("images/logos/itchio-logo-textless-white.png");
    background-size: 36px 36px;
}

.js-project-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.js-tags {
    margin-left: 20px;
    padding: 5px 5px 5px 5px;
    border: solid 1px white;
    border-radius: 16px;
    font-size: 14px;
}