html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #2b2b2b;
}

p {
    margin: 0;
}

main > div {
    display: none;
}

iframe {
    height: 1150px;
    width: 60%;
}

/* 
   ================
   |              |
   |    HEADER    |
   |              |     
   ================
*/
.this-thing {
    height: 300px;
    width: 100%;
    background-image: radial-gradient(ellipse, #ff7e5f, #feb47b);
}

.info-container {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.self-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0% 15%;
}

.about-me {
    font-size: 24px;
    margin-left: 50px;
}

.about-me > :first-child {
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 
   =========================
   |                       |
   |    Portfolio Links    |
   |                       |
   =========================
*/
.portfolio-bar {
    display: grid;
    grid-template-columns: 33% auto 33%;
    text-align: center;
    column-gap: 5px;
    margin-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.portfolio-item {
    border: 5px solid black;
    margin-top: 8px;
}

.portfolio-item:hover {
    background-color: black;
    transition: background-color 0.15s, color 0.15s;
}

.logos {
    height: 36px;
    padding: 20px;
}

/* 
   =======================================
   |                                     |
   |    Project/Resume Navigation Bar    |
   |                                     |
   =======================================
*/
.navbar {
    display: flex;
    margin-bottom: 50px;
    text-align: center;
    background-color: #3b3b3b;
    font-size: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: solid rgb(110, 110, 110);
    border-width: 2px 0 2px 0;
}

.sidebar-button {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    width: 50%;
}

.sidebar-button:visited {
    text-decoration: none;
    color: white;
}

.sidebar-button:hover {
    background-color: #feb47b;;
    color: black;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

.active {
    display: block;
}

#resume {
    text-align: center;
}

/* 
   =========================
   |                       |
   |    Project Entries    |
   |                       |
   =========================
*/
.project-entry {
    display: flex;
    height: 150px;
    background-color: #3b3b3b;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    border: solid 1px black;
    color: white;
    transition: box-shadow 0.5s;
}

.project-entry:hover {
    box-shadow: -15px 15px 50px rgb(24, 24, 24);
    transition: box-shadow 0.5s;
}

.project-link {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
}

.project-link >:first-child {
    width: 36px;
}

.proj-git {
    background-color: black;
}

.proj-itch {
    background-color: #fa5c5c;
}

.project-entry > article {
    padding-left: 24px;
}

.project-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}